@mixin hover-scale($scale: 1.1) {
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: scale($scale);
    }
}

@mixin hover-card {
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        z-index: 10;
        
        .item-content {
            opacity: 1;
        }

        img {
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
        }

        @media screen and (max-width: 1024px) {
            transform: scale(1.05); 
        }
    }
} 